.body {
    background-color: rgb(223, 222, 222);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background-color: rgb(241, 210, 28);
}

.secHeader {
    background-color: rgb(236, 212, 71); 
}

.list {
    background-color: rgb(189, 189, 189);
}

.discription {
    font-size: 40px;
}