.body {
    background-color: rgb(223, 222, 222);
    text-align: center;
}

.header {
    background-color: rgb(241, 210, 28);
}

.secHeader {
    background-color: rgb(236, 212, 71); 
}

.list {
    background-color: rgb(189, 189, 189);
}